{
  "log": {
    "file": "./butler.log",
    "level": "info"
  },
  "bot": {
    "username": "GoButler",
    "recursiveChannelMessages" : true,
    "defaultChannel": "",
    "accessTokens": [
      "exampleToken"
    ]
  },
  "server": {
    "host": "Server.co.uk",
    "port": 64738,
    "insecureSkipVerify": true
  },
  "greeter": {
    "welcomeUsers": false,
    "passConnectOnChannelJoin": true
  }
}