{
  "log": {
    "file": "./butler.log",
    "level": "error"
  },
  "bot": {
    "username": "GoButler",
    "recursiveChannelMessages" : true,
    "accessTokens": [
      "exampleToken"
    ]
  },
  "server": {
    "host": "Server.co.uk",
    "port": 64738,
    "insecureSkipVerify": true
  },
  "features": {

  }
}